{% extends 'products/header.html' %} {% block body %}
<div class="container">
    <h2>Striped Rows</h2>
    <p>The .table-striped class adds zebra-stripes to a table:</p>
    <a href="{% url 'products:addProduct' %}">Add products</a>
    {% if products_list %}
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Product Name</th>
                <th>Product Type</th>
                <th>Quantity </th>
                <th>Edit </th>
                <th>Delete </th>
            </tr>
        </thead>
        <tbody>
            {% for pro in products_list %}
            <tr>
                <td>{{ pro.product_name }}</td>
                <td>{{ pro.product_type }}</td>
                <td>{{ pro.quantity }}</td>
                <td>
                    <a href="{% url 'products:editProduct' pro.id %}">Edit</a>
                </td>
                <td>
                    <a href="{% url 'products:deleteProduct' pro.id %}">Delete</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% else %}
    <p>No products are available.</p>
    {% endif %}
</div>
{% endblock %}